@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    font-family: Plus Jakarta Sans;
    
}

.header{
    width:97%;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.logo{
    a{
        text-decoration: none;
        color: #13183F;
        font-size: 28px;
        font-weight: 700;
        margin-left: 17%;

        &:hover{
            color: #db0808;
            

        }
    }
}

.btn{
    color: #FFFFFF;
    background-color: #13183F;
    width: 200px;
    height: 40px;
    border-radius: 28px;
    border: 0;
    position: absolute;
    right: 0;
    transform: translate(-100%);
    display: flex;
    justify-content: center;
    align-items: center;


    &:hover{
        color: #f80101;
        background-color: rgb(0, 0, 0);
            

    }
       
    


.container{
    width: 80vw;
   
  
    
}

}

.aside-rectingle{
    background-color: rgba(20, 44, 177, 0);
    background-image: url(assets/Rectangle.png);
    width: 300px;
    height: 440px; 
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    top: 0px;
    right: 0px;
    /* bottom: 60%; */
    transform: translate(60%, 0);
    /* border: 1px solid rgb(92, 16, 16);   */
    margin-right: 10%; 
    margin-top: 0%;
    @media screen and (max-width: 700px) {
        display: none;
    }

    
    
}

.header-container{
    position: relative;
    /* border: 1px solid black; */

     @media screen and (max-width: 700px) {
        display: none;
    }

}

.avatar{
        background-color: #13183F;
        width: 150px;
        height: 270px;
        background: linear-gradient(#FF6F48, #F02AA6);
        border-radius: 100px;
        /* background-image: url(assets/image-bg.png); */
        background-size: 100%;
        background-repeat: no-repeat;
        /* border: 1px solid black; */
        position: absolute;
        top: 18%;
        transform: translate(0px, 65px);
        /* display: none; */

    

        img{
            width: 110px;
            position: absolute;
            top:15%;
            right: 15px;
            transform: translate(0px, 0px);
            float: right;
            /* display: none; */
            /* overflow: hidden; */
            
            
            
        }
        

}

.avatar .hours{
    position: absolute;
    top: 110px;
    left:40px;
}

.avatar .members{
    position: absolute;
    top: 10px;
    left:170px;
}



.maintext{
    display: flex;
    flex-direction: column;
    color: #000000;
    margin-left: 17%;
    margin-top: 100px;
    width: 400px;
    /* border: 1px solid black; */

    p{
        color: #83869A;
        font-size: 12px;
        font-weight: 500;
    }
    h1{
        font-size: 36px;
        font-weight: 800;
    }

}

.maintext:hover{
    color: #f80101;
    scale: calc(1.01);
}

.button-left{
    background: linear-gradient(#FF6F48,#F02AA6);
    width: 170px;
    height: 60px;
    border-radius: 28px;
    color: #FFFFFF;
    border:none;
    margin-top: 20px;

}

.cards-container{
    /* border: 1px solid black; */
    width: 80%;
    margin:30px 15% 0px 10%;
    display: flex;
    justify-content: center;
    gap: 45px;
    flex-wrap: wrap;
       
    
}

.cards-container .card{
    width: 350px;
    height: 320px;
    margin-top: 30px;
    /* border:1px solid black; */
    padding-left:30px;
    padding-top: 40px;
    border-radius: 15px;
    position: relative;
    box-shadow: 5px 0px 15px rgba(226, 225, 225, 0.774);

    &:hover{
        scale: calc(1.01);
        box-shadow: 5px 0px 15px rgba(250, 0, 0, 0.11);
        

    }

    img{
            position: absolute;
            top: -20px;
            left: 25px;
        }
    h1{
        font-size: 36px;
        font-weight: 800;
        font-family: Plus Jakarta Sans;
        
    }
    h2{
        font-size: 24px;
        font-weight: 800;
        font-family: Plus Jakarta Sans;
        
    }
    p{
        color: #83869A;
        font-weight: 500;
        margin-bottom: 40px;
    }

    a{
        color: #F74780;
        text-decoration: none;
    }
    
    &:nth-child(1){
        background: linear-gradient(#FF6F48, #F02AA6);
        color:white;
        font-weight: 800;
        font-size: 36px;

        &:hover{   
            color: rgb(3, 3, 3);     

        }


        
    }

    &:nth-child(2){
        background: #FFFFFF;

        &:hover{
            background-color: #000000;   
            color: white;     

        }


    }
    &:nth-child(3){
        background: #FFFFFF;

        &:hover{
            background-color: #080ba3;   
            color: white;     

        }
    }
    &:nth-child(4){
        background: #FFFFFF;

        &:hover{
            background-color: #660606;   
            color: white;     

        }

        img{
            position: absolute;
            top: -20px;
            left: 0px;
        }
    }
    &:nth-child(5){
        background: #FFFFFF;

        img{
            position: absolute;
            top: -20px;
            left: 0px;
        }
    }
    &:nth-child(6){
        background: #FFFFFF;

        &:hover{
            background-color: #035e0f;   
            color: white;     

        }
    }
    
    
}


footer{
    background-color: #13183F;
    height: 100px;
    margin-top: 50px;
    position: relative;

    span{
        font-size: 28px;
        font-weight: 800;
        color: white;
        margin-left: 18%;
        position: absolute;
        top:30px;
        
        
        
    }
}

.top-right-block{
    position: fixed;
    top: 0; 
    right: 0; 


}

.btn-footer{
    color: #FFFFFF;
    background:linear-gradient(#4851FF,#F02AA6);
    width: 170px;
    height: 60px;
    border-radius: 28px;
    border: 0;
    position: absolute;
    right: 150px;
    top:20px;
    transform: translate(-100%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 900px) {
        display: none;
    }

}

.btn-footer:hover{
        background-color: #000000;
    }